{% extends 'base.html' %}
{% block content %}
	<div class="bg">
		<div class="container">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<div class="kertas-a"></div>
				<div class="kertas-t">
					<h1>ABK Pinisi</h1>
					<div class="col-lg-1"></div>
					<div class="col-lg-10 text-center">
						<p style="font-size: 14pt">
							<strong>Perompak</strong> Adam Ardisasmita<br>
							<strong>Kapten</strong> Ali Akbar Septiandri<br>
							<strong>Perwira</strong> Arum Adiningtyas<br>
							<strong>Chief</strong> Hamzah Al Asadulloh<br>
							<strong>Marinir</strong> Okiriza Wibisono<br>
							<strong>Markonis</strong> Yosef Ardhito<br>
						</p>
						<p>Ada masukan untuk eksperimen ini? Silakan e-mail ke: aliakbars[at]outlook[dot]com</p>
					</div>
					<div class="col-lg-1"></div>
				</div>
				<div class="kertas-b"></div>
			</div>
			<div class="col-lg-2"></div>
		</div>
	</div>
{% endblock %}