{% extends 'base.html' %}
{% block content %}
	<div class="bg">
		<div class="container">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<div class="kertas-a"></div>
				<div class="kertas-t">
					<h1>ABK Pinisi</h1>
					<div class="col-lg-1"></div>
					<div class="col-lg-10 text-center">
						<p style="font-size: 14pt">
							<h4>Perompak</h4> Adam Ardisasmita<br>
							<h4>Kapten</h4> Ali Akbar Septiandri<br>
							<h4>Perwira</h4> Arum Adiningtyas<br>
							<h4>Chief</h4> Hamzah Al Asadulloh<br>
							<h4>Marinir</h4> Okiriza Wibisono<br>
							<h4>Markonis</h4> Yosef Ardhito<br>
						</p>
						<strong>Ada masukan untuk eksperimen ini? Silakan e-mail ke: aliakbars[at]outlook[dot]com</strong>
					</div>
					<div class="col-lg-1"></div>
				</div>
				<div class="kertas-b"></div>
			</div>
			<div class="col-lg-2"></div>
		</div>
	</div>
{% endblock %}