{% extends 'base.html' %}
{% block content %}
	<div id="fb-root"></div>
	<script>
	window.fbAsyncInit = function() {
		FB.init({
			appId      : '455527504647138',
			xfbml      : true,
			version    : 'v2.4'
		});
	};
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>
	<div class="bg">
		<div class="container">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<div class="kertas-a">
				</div>
				<div class="end">
					<div class="kertas-t">
						<h1>Pinisi</h1>
						<h2>Akhirnya!</h2>
						<div class="col-lg-1"></div>
						<div class="col-lg-10 end-text">
							<br>
							<p>
								Lumayan lah ya barusan kita ajak keliling Nusantara sejenak, terimakasih telah bersedia memberikan waktu Anda untuk bersenang-senang sebentar bersama kami.
								<br><br>
								Apakah Anda bertanya-tanya, "Sebenarnya apa yang baru saja saya lakukan?" Tunggu info berikutnya ke email Anda! Siapa tahu intuisi Anda yang paling tepat menebak jalan pikir perompak Mada sehingga Anda berhak mendapatkan hadiah?
							</p>
							<div class="fb-share-button" data-href="http://floating-waters-3050.herokuapp.com/success" data-layout="button_count"></div><br><br>
							<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://floating-waters-3050.herokuapp.com" data-text="Saya berhasil mendapatkan harta karun Perompak Mada!">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
						</div>
						<div class="col-lg-1"></div>
					</div>
				</div>
				<div class="kertas-b">
				</div>
			</div>
			<div class="col-lg-2"></div>
		</div>
	</div>
{% endblock %}