{% extends 'base.html' %}
{% block content %}
	<div class="bg">
		<div class="container">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<div class="kertas-a"></div>
				<div class="kertas-t">
					<div class="col-lg-1"></div>
					<div class="col-lg-10 text-center">
						<p>
							Ahoy! Selain kerjaan sampingan sebagai pencari harta karun, saya adalah <em>founder</em> dan CEO dari Arsanesia, perusahaan yang membuat game Gamelan Player, Temple Rush: Prambanan, dan Roly Poly Penguin. Saya lahir di Montpellier, Perancis dan saat ini sudah menikah. Masa pendidikan saya habiskan di MAN Insan Cendikia Serpong dan S1 Informatika ITB. Pernah menjadi Nokia Developer Champion, kini saya tinggal di daerah BSD, Tangerang namun sering bolak-balik juga ke Bandung.
						</p>
						<p>A Green Tea Enthusiast, merupakan kontributor dari Trenologi dan juga Dicoding.</p>
						<p>Personal interest: IT, game, gadget, design, multimedia, music, creative industry, writing, blogging, speaking, networking, movie</p>
						<div class="text-center">
							<a href="/maps/1" class="btn btn-ahoy"><img class="img-responsive" src="{{ url_for('static', filename='images/ahoy.png') }}" width="200px"></a>
						</div>
					</div>
					<div class="col-lg-1"></div>
				</div>
				<div class="kertas-b"></div>
			</div>
			<div class="col-lg-2"></div>
		</div>
	</div>
{% endblock %}