{% extends 'base.html' %}

{% block meta %}
  	<meta property="fb:app_id"   	    content="455527504647138" />
    <meta property="og:type"          content="game.achievement" />
    <meta property="og:site_name"     content="Pinisi | Tentang Data" />
    <meta property="og:title"         content="Menemukan Harta Karun" />
    <meta property="og:description"   content="Ahoy! Saya berhasil menemukan harta yang disembunyikan oleh Perompak Mada!" />
    <meta property="og:url"  		      content="http://pinisi.tentangdata.com" />
    <meta property="game:points"  	  content="25" />
{% endblock %}

{% block nav %}
<li role="presentation"><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Beranda</a></li>
{% endblock %}

{% block content %}
<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
    FB.init({
        appId      : '455527504647138',
        xfbml      : true,
        version    : 'v2.4'
    });
};
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<div class="jumbotron">
	<h1>Berhasil!</h1>
	<p class="lead">Terima kasih sudah berpartisipasi. Semoga proyek ini bisa bermanfaat bagi Anda kelak.</p>
	<h1 class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></h1>
	<br>
	<div>
		<div class="fb-share-button" data-href="http://pinisi.tentangdata.com" data-layout="button_count"></div><br><br>
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://pinisi.tentangdata.com" data-text="Saya berhasil mendapatkan {{ treasures }} dari">Tweet</a>
	</div>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
{% endblock %}